.comment {
    width: 90%;
    min-width: calc(500px + 10%);
    margin: 20px 0;
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, .25);
    word-break: break-word;
}

.commentsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.commentHeader {
    display: flex;
}

.author {
    padding-right: 30px;
    font-weight: bold;
}

.date {
    font-style: italic;
}

.text {
    display: block;
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

ul {
    list-style: none;
}